* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    width: 90%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    input {
        border: 0;
        outline: 0;
        border-bottom: 1px solid black;
        margin-top: 10px;
    }

    button {
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 20px;
    }
}

.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}